body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
  font-family: 'Arial', sans-serif;
  direction: rtl;          /* Right to left layout */
}

/* Style for the form */
.form-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Optional: Set max width for the form */
  background-color: #fff;
}

/* Form input and button styling */
input, button {
  /*width: 100%;*/
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}